.blog-img img{
  height: 30vw;
}
.blog-img {
  margin-top: 8px;
  width: 49vw;
}

.rows{
  display: flex;
}

.post {
  flex-direction: column;
}

.heading {
  text-decoration: underline;
}
.blogpost-meta {
  margin-top: -5px;
  /* background-color: var(--main-bg-color1); */
  display: flex;
  justify-content: space-between;
}
.author-info{
  margin: 5px 12px;
}
.author-info div {
  padding: 2px 0;
  font-family: var(--font1);
  color: rgb(1, 1, 34);
  font-weight: bold;
}
.social{
  /* margin: 5px 12px; */
  padding-right: 53px;
  align-self: center;
  cursor: pointer;
}